<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login / Registro</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>

    <main class="auth-container">
      <div class="auth-box">
        <div class="tabs">
          <button class="tab-btn active" data-tab="login">Iniciar Sesión</button>
          <button class="tab-btn" data-tab="register">Registrarse</button>
        </div>

        <form id="login" class="auth-form active">
          <h2>Inicia Sesión</h2>
          <input type="email" placeholder="Correo electrónico" required />
          <input type="password" placeholder="Contraseña" required />
          <button type="submit">Entrar</button>
          <p class="forgot">¿Olvidaste tu contraseña?</p>
        </form>

        <form id="register" class="auth-form">
          <h2>Regístrate</h2>

          <input id="reg_nombre" type="text" placeholder="Nombre completo" required />
          <input id="reg_correo" type="email" placeholder="Correo electrónico" required />
          <input id="reg_pass" type="password" placeholder="Contraseña" required />
          <input id="reg_pass2" type="password" placeholder="Confirmar contraseña" required />

          <button type="submit">Crear cuenta</button>
        </form>
      </div>
    </main>

    <script src="/static/js/footer.js"></script>
    <script src="/static/js/login.js"></script>
  </body>
</html>
